.App {
  text-align: center;
  
}

/* Navbar.css */
.navbar {
  background-image: linear-gradient(to right top, #c5d8de, #b6ced9, #a8c4d6, #9cbad2, #92afce, #8aa9d1, #83a3d3, #7f9cd5, #7799df, #6e96e9, #6693f2, #5f8ffb);
  color: #fff;
  display: flex;
  justify-content: center;

  padding: 1rem;
}

.navbar-brand a {
  color: #fff;
  font-size: 1.5rem;
  text-decoration: none;
}

.navbar-toggle {
  display: none;
}

.navbar-nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-left: 1rem;
}

.nav-link {
  color: #fff;
  text-decoration: none;
}

.nav-link:hover {
  color: #ccc;
}

@media (max-width: 768px) {
  .navbar-toggle {
    display: block;
  }

  .navbar-collapse {
    background-color: #25c3db;
    flex-direction: column;
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease-in-out;
  }

  .navbar-collapse.show {
    height: auto;
  }

  .navbar-nav {
    flex-direction: column;
    margin-top: 1rem;
  }

  .nav-item {
    margin-left: 0;
    margin-bottom: 0.5rem;
  }
}

/*Homepage.css*/
.container-body {
  height: 1400px;
  
 }
 
 .bg-container {
  position: relative;
  width: 70% !important;
  height: 600px;
  margin: auto;
  margin-top: 55%;
 }
 .bg-container h1 {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
  font-size: 70px;
 }

 /* Api.css */
 .api-search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: linear-gradient(to right top, #c5d8de, #b6ced9, #a8c4d6, #9cbad2, #92afce, #8aa9d1, #83a3d3, #7f9cd5, #7799df, #6e96e9, #6693f2, #5f8ffb);

  color: #fff;
  text-align: center;
}

.title {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.description {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.search-bar-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-input {
  width: 300px;
  padding: 10px;
  font-size: 1.2rem;
  border: 2px solid #0288d1;
  border-radius: 5px 0 0 5px;
  outline: none;
}

.search-button {
  padding: 10px 20px;
  font-size: 1.2rem;
  background-color: #0288d1;
  border: none;
  border-radius: 0 5px 5px 0;
  color: #fff;
  cursor: pointer;
}

.search-button:hover {
  background-color: #0277bd;
}


/* Footer.css */
.footer {
  background-image: linear-gradient(to right top, #c5d8de, #b6ced9, #a8c4d6, #9cbad2, #92afce, #8aa9d1, #83a3d3, #7f9cd5, #7799df, #6e96e9, #6693f2, #5f8ffb);
  color: #fff;
  padding: 40px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.footer-section {
  flex: 1;
  margin-right: 30px;
}

.footer-section h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-section p {
  font-size: 14px;
  margin-bottom: 10px;
}

.footer-section a {
  color: #fff;
  text-decoration: none;
}

.social-icons a {
  color: #fff;
  font-size: 24px;
  margin-right: 10px;
}

.footer-bottom {
  text-align: center;
  font-size: 14px;
}